# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out
cms/cache/*
*.1.php
*.2.php
*.3.php
*.4.php
*.5.php
*.6.php
*.7.php
*.8.php
*.9.php
#except this file
!.gitignore
