/* default styles for CMS */
body { background-color:#ddd; padding:100px; text-shadow:#ddd 1px 1px 1px; }
div#dialog, div#ttBox { display:none; position:absolute; }
div#ttBox { border:1px solid #000; border-radius:5px; max-width:300px; padding:5px; margin:0px; color:#ccc; text-shadow:#000 1px 1px 1px; background-color:#333; background-color:rgba(0,0,0,0.6); }
.even { background-color:#ccc; background-color:rgba(255,255,255,0.2); }
.odd { background-color:#bbb; background-color:rgba(0,0,0,0.2); }
fieldset { width:508px; position:relative; margin:3px 0px 3px -1px; padding-bottom:6px; border: 1px solid #333; border-radius:10px; }
legend { border:1px solid #333; border-radius:5px; padding:1px 5px; margin-left:20px; background-color:rgba(42,42,42,0.5);}
div#login_form_wrap { width:350px; border:5px solid #333; border-radius:15px; padding:50px 5px; margin:0 auto; background-color:#EEE; background-color:rgba(255, 255, 255, 0.5); }
form.login .form_row { width:300px; margin:0 auto; }
form div.form_row { width:500px; position:relative; height:30px; border-radius:5px; border:1px solid transparent; }
form div.form_row.textarea { height:120px; }
form div.form_row textarea:focus { width:450px; }
form div.form_row.select_more { min-height:30px; height:auto; }
form div.idx_group { position:relative; width:auto; margin:0px; padding:0px; border-radius:0px; }
form div label.main { text-align:right; position:absolute; right:186px; top:0px; width:300px; padding:6px 0px; }
form div.form_row span.ui-icon-info { position:absolute; right:-1px; top:-1px; display:none; cursor:pointer; }
form div.form_row:hover span.ui-icon-info { display:block; }
form div.form_row span.ui-icon-arrowreturnthick-1-s { position:absolute; right:-1px; bottom:-1px; cursor:pointer; display:none; }
form div.form_row.changed span.ui-icon-arrowreturnthick-1-s, form div.form_row.mismatch span.ui-icon-arrowreturnthick-1-s { display:block; }
form div.idx_group .idx_nav { display:none; background-color:inherit; position:absolute; margin:0px; padding:0px; /*width:150px;*/ height:30px; border-top-left-radius:5px; border-top-right-radius:5px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; }
form div.idx_group .idx_nav.move_free { left:0px; top:-30px; }
form div.idx_group .idx_nav.move_free span { cursor:move !important; }
form div.idx_group .idx_nav.move_down { left:30px; top:-30px; }
form div.idx_group .idx_nav.move_up { left:60px; top:-30px; }
form div.idx_group .idx_nav.insert_new { left:90px; top:-30px; }
form div.idx_group .idx_nav.delete { left:120px; top:-30px; }
form div.idx_group div.activate_new_index { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#ddd; background-color:rgba(225,225,225,0.7); cursor:pointer; }
form .changed { background-color:#080; border-color:#080 !important; background-color:rgba(0, 128, 0, 0.05); }
form .mismatch { background-color:#800; border-color:#800 !important; background-color:rgba(128, 0, 0, 0.05); }
.idx_nav li { margin:2px; position:relative; padding:4px 0; cursor:pointer; float:left; list-style:none; }
.idx_nav span.ui-icon { width:16px; float:left; margin:0 4px; }
/*form div.idx_group:hover .idx_nav { display:block; }*/
input, textarea, select  { border:1px solid #333; width:150px; border-radius:6px; padding:4px 6px; background-color:#eee; background-color:rgba(255,255,255,0.2); outline-width:0px; color:#333; text-shadow:#ccc 1px 1px 1px; /*background-image:url(cms/include_files/images/ui-bg_glass_75_dadada_1x400.png); background-repeat:repeat-x; background-position:center;*/}
form div.form_row input, form div.form_row textarea, form div.form_row select, form div.form_row span.humanfilter_wrap { position:absolute; right:14px; top:2px; }
select { width:164px; }
textarea { height:100px; }
form div.more_row { height:15px; position:relative; }
input[type=checkbox] { width:auto; }
/*form div.form_row input[type=checkbox] { */
form div.more_row input { position:absolute; top:3px; right:166px; }
form div.more_row label { width:145px; position:absolute; right:14px; top:0px; text-align:left; }
input:hover, textarea:hover, select:hover { /*border-color:#333;*/ background-color:rgba(255,255,255,0.3); /*background-image:url(cms/include_files/images/ui-bg_glass_75_e6e6e6_1x400.png);*/ }
input:focus, textarea:focus, select:focus { /*border-color:#000;*/ background-color:rgba(255,255,255,0.5); /*background-image:url(cms/include_files/images/ui-bg_glass_95_fef1ec_1x400.png);*/ }
input[type=button] { border-color: #999 #333 #333 #999; }
input[type=button]:active { margin:1px -1px; border-color:#333 #999 #999 #333;  background-color:rgba(255,255,255,0.5); }
input[type=submit], input[type=reset] {padding:8px; background-color:#333; background-image:none; background-color:rgba(0,0,0,0.5); color:#ccc; border-color:#333; width:auto; text-shadow:#333 1px 1px 1px; }
input[type=submit]:hover, input[type=reset]:hover { border-color:#333; background-color:#444; background-color:rgba(0,0,0,0.6); }
input[type=submit]:active, input[type=reset]:active { border-color:#333; background-color:#666; background-color:rgba(0,0,0,0.7); }
input[disabled], textarea[disabled], select[disabled], input[disabled]:hover, textarea[disabled]:hover, select[disabled]:hover { background-image:none; background-color:#eee; color:#aaa; border-color:#aaa }
/*input[type=submit]:active {color:maroon; background-color:rgba(33,33,33,0.5)}*/
ul.menu, ul.menu ul { list-style-type:none; margin:0px; padding:0px; clear:both; }
ul.menu li ul { display:none; position:absolute; padding-top:10px; top:12px; left:0px; white-space:nowrap; }
ul.menu li:hover ul { display:block; }
ul.menu li { list-style-type:none; float:left; padding-right:15px; position:relative; }
ul.menu a { font-size:12pt; }

li.active { background-color:rgba(180,42,42,0.4); }
li.has_active { background-color:rgba(125,42,42,0.4); }
li.has_sub > a:after { content:"\2022"; }



