.humanfilter_wrap { display:inline-block; border:1px solid #333; border-radius:10px; padding:0px 8px; background-color:#EEE; }
.humanfilter { width:10px; height:20px; display:inline-block; background-repeat:no-repeat; background-image:url('cms/include_files/images/humanfilter.png'); }
.humanfilter.bD1 { background-position:0px 0px; }
.humanfilter.fZr { background-position:-10px 0px; }
.humanfilter.H7Q { background-position:-20px 0px; }
.humanfilter.zQw { background-position:-30px 0px; }
.humanfilter.GiR { background-position:-40px 0px; }
.humanfilter.xCy { background-position:-50px 0px; }
.humanfilter.LXl { background-position:-60px 0px; }
.humanfilter.qri { background-position:-70px 0px; }
.humanfilter.wNG { background-position:-80px 0px; }
.humanfilter.opH { background-position:-90px 0px; }
.humanfilter.sXV { background-position:-100px 0px; }
.humanfilter.qyo { background-position:-110px 0px; }
.humanfilter.UGk { background-position:-120px 0px; }
.humanfilter.Ivz { background-position:-130px 0px; }
.humanfilter.Az6 { background-position:-140px 0px; }
.humanfilter.L0W { background-position:-150px 0px; }
.humanfilter.cLA { background-position:-160px 0px; }
.humanfilter.nxR { background-position:-170px 0px; }
.humanfilter.nih { background-position:-180px 0px; }
.humanfilter.JsO { background-position:-190px 0px; }
.humanfilter.UgO { background-position:-200px 0px; }
.humanfilter.SDY { background-position:-210px 0px; }
.humanfilter.fP4 { background-position:-220px 0px; }
.humanfilter.x6u { background-position:-230px 0px; }
.humanfilter.HP0 { background-position:-240px 0px; }
.humanfilter.J9b { background-position:-250px 0px; }
.humanfilter.BRH { background-position:-260px 0px; }
.humanfilter.YcP { background-position:-270px 0px; }
.humanfilter.mb6 { background-position:-280px 0px; }
.humanfilter.hX5 { background-position:-290px 0px; }
.humanfilter.udY { background-position:-300px 0px; }
.humanfilter.NSn { background-position:-310px 0px; }
.humanfilter.nQe { background-position:-320px 0px; }
.humanfilter.XT1 { background-position:-330px 0px; }
.humanfilter.uhx { background-position:-340px 0px; }
.humanfilter.e9C { background-position:-350px 0px; }
.humanfilter.nh6 { background-position:-360px 0px; }
.humanfilter.wyA { background-position:-370px 0px; }
.humanfilter.Vsk { background-position:-380px 0px; }
.humanfilter.tCY { background-position:-390px 0px; }
.humanfilter.FCb { background-position:-400px 0px; }
.humanfilter.mrq { background-position:-410px 0px; }
.humanfilter.BFh { background-position:-420px 0px; }
.humanfilter.vwJ { background-position:-430px 0px; }
.humanfilter.bsZ { background-position:-440px 0px; }
.humanfilter.rqK { background-position:-450px 0px; }
.humanfilter.E9B { background-position:-460px 0px; }
.humanfilter.lV9 { background-position:-470px 0px; }
.humanfilter.nTj { background-position:-480px 0px; }
.humanfilter.fgh { background-position:-490px 0px; }
.humanfilter.KBI { background-position:-500px 0px; }
.humanfilter.FEL { background-position:-510px 0px; }
.humanfilter.AQh { background-position:-520px 0px; }
.humanfilter.YBv { background-position:-530px 0px; }
.humanfilter.iMy { background-position:-540px 0px; }
.humanfilter.n2I { background-position:-550px 0px; }
.humanfilter.Fq5 { background-position:-560px 0px; }
.humanfilter.Hjf { background-position:-570px 0px; }
.humanfilter.pcU { background-position:-580px 0px; }
.humanfilter.Es4 { background-position:-590px 0px; }
.humanfilter.Q5v { background-position:-600px 0px; }
.humanfilter.h1S { background-position:-610px 0px; }
