/* Styles for admin */

h1 { background-color:maroon; }
html.ie6 h1 { background-color:#000; }
html.ie7 h1 { background-color:#333; }
html.ie8 h1 { background-color:#999; }
html.ie9 h1 { background-color:#999; }

